In [59]:
import pandas as pd

In [60]:
# Impporting csv file
car_df = pd.read_csv(r"car_prices.csv", delimiter=',', on_bad_lines='skip') # Skipping 17 out of 558812, because of faulty data
df_original_len = len(car_df)
print('Original length of dataframe:', df_original_len)
print("There are {} rows and {} columns in the dataset".format(car_df.shape[0], car_df.shape[1]))

Original length of dataframe: 558812
There are 558812 rows and 16 columns in the dataset

In [61]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558812 entries, 0 to 558811
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558812 non-null  int64
 1   make          548511 non-null  object
 2   model         548413 non-null  object
 3   trim          548161 non-null  object
 4   body          545617 non-null  object
 5   transmission  493459 non-null  object
 6   vin           558812 non-null  object
 7   state         558812 non-null  object
 8   condition     547018 non-null  float64
 9   odometer      558718 non-null  float64
 10  color         558063 non-null  object
 11  interior      558063 non-null  object
 12  seller        558812 non-null  object
 13  mmr           558812 non-null  int64
 14  sellingprice  558812 non-null  int64
 15  saledate      558812 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.2+ MB

In [62]:
car_df.columns.values

array(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin',
       'state', 'condition', 'odometer', 'color', 'interior', 'seller',
       'mmr', 'sellingprice', 'saledate'], dtype=object)

In [63]:
car_df.describe()

,year,condition,odometer,mmr,sellingprice
count,558812.000000,547018.000000,558718.000000,558812.000000,558812.000000
mean,2010.038705,3.424514,68323.082106,13769.323628,13611.267630
std,3.966814,0.949439,53397.772770,9679.865976,9749.648961
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,2.700000,28374.000000,7100.000000,6900.000000
50%,2012.000000,3.600000,52255.500000,12250.000000,12100.000000
75%,2013.000000,4.200000,99112.000000,18300.000000,18200.000000
max,2015.000000,5.000000,999999.000000,182000.000000,230000.000000

Data Cleaning

In [64]:
missing_values = car_df.isnull().sum()
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
vin                 0
state               0
condition       11794
odometer           94
color             749
interior          749
seller              0
mmr                 0
sellingprice        0
saledate            0
dtype: int64